@charset "UTF-8";

/*  */

*{margin: 0; padding: 0; box-sizing: border-box; list-style:none}

   
header{
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   height: 110px;
   width: 100%;
   left: 0; 
   top: 0;
   display: flex;
   justify-content: center;
   }
   
.logo{
   display: inline-block;
   /* position: absolute; */
   /* top: 10px; */
   border: none; 
   margin-right: 150px;
   cursor: pointer;
}
.logo img{
   max-width: 150px; 
   display: inline-block;
 /*   margin-top: 10px; */}

.common{
   width: 80px;
   height: 80px;
   background: #efeeee;
   margin-top: 10px;
   display: inline-block;
   margin-right: 150px;
   position: relative;
   border-radius: 35%; 
   border: #fff; 
   box-shadow: -10px -10px 20px rgba(250,251,255,0.7), 6px 6px 16px rgba(209,205,199,1.7); 
   border: none; 
   outline: none; 
   cursor: pointer; 
   overflow: hidden;
}
      
.abm{
   margin-right: 0px;}

.common img{
   width: 60px;
   display: block; 
   margin: 10px auto;
   transition: all 0.5s;
   }
   
.common .hov_txt{
   display: none; 
   font-size: 25px; 
   transition: all 0.5s; 
   width: 100%; 
   height: 100%; 
   background: rgba(134,134,134,0.5); 
   position: absolute; 
   left: 0; 
   top: 0; 
   transition: all 0.5s; 
   justify-content: center; 
   align-items: center; 
   backdrop-filter: blur(2px);
   }

.common .hov_txt p{
   color: #fff;
   }
   
.common:hover .hov_txt{
   display: flex;
}

#title{
   margin-top: 50px;
}

.container{
   position: relative;
   display: flex;
}

#icon{
   /* position: absolute; */
   margin-top: 60px;
   left: 50%;
}


#text{
   margin: 20px auto 0 auto;
   max-width: 70%;
}

.about_section{
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
   margin-top: 100px;
}

.c1,
.c2,
.c3{
   width: 300px;
   height: 300px;
   border: 3px solid black;
   border-radius: 100%;
   text-align: center;
   position: relative;
}

.c1 img,
.c2 img,
.c3 img{
   max-width: 80%;
}

.c1 .hov_c1{
   display: none; 
   color: #000;
   transition: all 0.5s; 
   width: 100%; 
   height: 100%; 
   background: #efeeee;
   position: absolute; 
   left: 0; 
   top: 0; 
   transition: all 0.5s; 
   justify-content: center; 
   align-items: center;
   border-radius: 100%; 
}

.c1:hover{
   box-shadow: -10px -10px 20px rgba(250,251,255,0.7), 6px 6px 16px rgba(120,120,120,1.7);
   border: none;
}

.c1:hover .hov_c1{
   display: flex;
}


.c2 .hov_c2{
   display: none; 
   color: #000;
   transition: all 0.5s; 
   width: 100%; 
   height: 100%; 
   background: #efeeee;
   position: absolute; 
   left: 0; 
   top: 0; 
   transition: all 0.5s; 
   justify-content: center; 
   align-items: center;
   border-radius: 100%; 
}

.c2:hover{
   box-shadow: -10px -10px 20px rgba(250,251,255,0.7), 6px 6px 16px rgba(120,120,120,1.7);
   border: none;
}

.c2:hover .hov_c2{
   display: flex;
}

.c3 .hov_c3{
   display: none; 
   color: #000;
   transition: all 0.5s; 
   width: 100%; 
   height: 100%; 
   background: #efeeee;
   position: absolute; 
   left: 0; 
   top: 0; 
   transition: all 0.5s; 
   justify-content: center; 
   align-items: center;
   border-radius: 100%; 
}

.c3:hover{
   box-shadow: -10px -10px 20px rgba(250,251,255,0.7), 6px 6px 16px rgba(120,120,120,1.7);
   border: none;
}

.c3:hover .hov_c3{
   display: flex;
}


@media (max-width: 1024px) {
   .c1, 
   .c2, 
   .c3{
      width: 250px;
      height: 250px;
   }

   #icon{
      margin-top: 40px;
   }

   #text{
      margin-top: 10px;
   }
}

@media (max-width: 768px) {
   .c1, 
   .c2, 
   .c3{
      width: 200px;
      height: 200px;
   }

   #icon{
      margin-top: 30px;
      max-width: 40%;
      height: auto;
   }

   #text{
      font-size: 13px;
      margin: 10px auto 0 auto;
   }
}


